
body {
 
    background-color: #008080; 
    
 
    background-image: url('images/wallpaper1.jpg');

 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;


    background-color: #008080;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: 'Pixelated MS Sans Serif', Arial, sans-serif;
}


.desktop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 90vh;
    width: 100%;
    padding: 10px;
    gap: 20px;
    align-content: flex-start;
}

.icon {
    width: 80px;
    text-align: center;
    color: white;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 5px;
}

.icon:hover {
    border: 1px dotted white;
    background-color: rgba(0, 0, 128, 0.3);
}

.icon img {
    width: 32px;
    height: 32px;
    margin-bottom: 5px;
}

.icon p {
    font-size: 12px;
    margin: 0;
    text-shadow: 1px 1px #000;
}


.window {
    position: absolute;
    width: 400px;
    z-index: 10;
}

.window-body {
    background-color: #c0c0c0;
}


.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 15px;
    padding: 10px;
    background: white;
    border: 2px inset #dfdfdf;
    height: 200px;
    overflow-y: auto;
}

.project-icon {
    text-align: center;
    cursor: pointer;
}

.project-icon:hover {
    background-color: #000080;
    color: white;
}

.project-icon img {
    width: 32px;
    height: 32px;
}

.project-icon p {
    font-size: 11px;
    margin-top: 2px;
}

.taskbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 28px;
    background: #c0c0c0;
    border-top: 2px solid #fff;
    display: flex;
    align-items: center;
    padding: 2px;
    z-index: 1000;
}

.start-button {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    padding: 2px 6px;
}

.start-button img {
    width: 16px;
    height: 16px;
}

.time-tray {
    margin-left: auto;
    background: #c0c0c0;
    border: 2px inset #dfdfdf;
    padding: 2px 10px;
    font-size: 12px;
    margin-right: 5px;
}


#start-menu {
    position: fixed;
    bottom: 32px;
    left: 2px;
    width: 200px;
    display: flex;
    flex-direction: row;
    z-index: 1001;
}

.sidebar {
    background: linear-gradient(to bottom, #000080, #1084d0);
    width: 25px;
    color: white;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.menu-items {
    flex-grow: 1;
    background: #c0c0c0;
    padding: 2px;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    gap: 10px;
}

.menu-item:hover {
    background-color: #000080;
    color: white;
}

.menu-item img {
    width: 24px;
    height: 24px;
}